
body{
width: 100%;
overflow-x: hidden;
}
.featuredItem1 {
    flex: 1;
    margin: 0px 30px;
    padding: 30px;
    border-radius: 10px;
    position:relative;
    width:250px;
    top:-350px;
    cursor: pointer;
    
    -webkit-box-shadow: 9px 5px 15px 5px #000000; 
    box-shadow: 9px 5px 15px 5px #000000;
   
  }
  .featuredItem2 {
    flex: 1;
    margin: 0px 20px;
    padding: 30px;
    border-radius: 10px;
    cursor: pointer;
    position:relative;
    width:250px;
    top:-482px;
    left:360px;
    -webkit-box-shadow: 9px 5px 15px 5px #000000; 
     box-shadow: 9px 5px 15px 5px #000000;
     
  }
  .featuredItem3 {
    flex: 1;
    margin: 0px 20px;
    padding: 30px;
    border-radius: 10px;
    cursor: pointer;
    position:relative;
    width:250px;
    top:-620px;
    left:730px;
    -webkit-box-shadow: 9px 5px 15px 5px #000000; 
     box-shadow: 9px 5px 15px 5px #000000;
    
  }
  
  .featuredItem4 {
    flex: 1;
    margin: 0px 20px;
    padding: 30px;
    border-radius: 10px;
    cursor: pointer;
    position:relative;
    width:300px;
    top:-350px;
    left:1100px;
    -webkit-box-shadow: 3px 5px 5px 5px #000000; 
     box-shadow: 3px 5px 5px 5px #000000;
    
  }

  
  .icon
{
    font-size:30px;
    margin-left:5px;
    color:rgb(50, 8, 110);

}

.Student
{
    font-size:27px;
    color:rgb(50, 8, 110);
}
.bar
{
    position:relative;
    top:-550px;
    /* bottom: -700px; */
}

.featured1 {
    flex: 2;
 
    -webkit-box-shadow: 9px 5px 15px 5px #000000; 
    box-shadow: 9px 5px 15px 5px #000000;
    padding: 10px;
    position: relative;
    top:-580px;
    left:1100px;
    width:350px;
    height:300px;
    border-radius: 10px;
}
    .top {
      display: flex;
      align-items: center;
      justify-content: space-between;

      color: gray;
    }
   
      .featuredChart {
        width: 200px;
        height: 200px;
      }


.hh{
  position: relative;
  top: 450px;
  left: -550px;
  color: rgb(50, 8, 110);
}
      
 .apps {
  text-align: center;
  position: relative;
  left: 1020px;
  top: 100px;
  /* transition: none;
  transform: none; */
  /* hoverMode:"null"; */
}
/*
.apps-logo {
  height: 40vmin;
  pointer-events: none;
} */

/* @media (prefers-reduced-motion: no-preference) {
  .apps-logo {
    animation: apps-logo-spin infinite 20s linear;
  }
} */

/* .apps-header {
  background-color: #282c34;
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  font-size: calc(10px + 2vmin);
  color: white;
} */

/* .apps-link {
  color: #61dafb;
} */

/* @keyframes apps-logo-spin {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
} */